[submodule "simple-shader"]
	path = simple-shader
	url = https://github.com/H4sh3/simple-shader
[submodule "game-of-life"]
	path = game-of-life
	url = git@github.com:H4sh3/game-of-life.git
[submodule "ml-driver"]
	path = ml-driver
	url = git@github.com:H4sh3/ml-driver.git
[submodule "physarum"]
	path = physarum
	url = git@github.com:H4sh3/physarum.git
[submodule "sorting"]
	path = sorting
	url = git@github.com:H4sh3/sorting.git
[submodule "genetic-rocket"]
	path = genetic-rocket
	url = git@github.com:H4sh3/genetic-rocket.git
