[submodule "simple-shader"]
	path = simple-shader
	url = https://github.com/H4sh3/simple-shader
[submodule "genetic-rocket"]
	path = genetic-rocket
	url = git@github.com:H4sh3/genetic-rocket.git
[submodule "GameOfLife"]
	path = GameOfLife
	url = git@github.com-personal:H4sh3/GameOfLife.git
